<!doctype html>
<html lang="zh-cn" ng-app="SingularityClub1" ng-controller="impress">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=1024"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title>SingularityClub Lesson 1</title>
    <link href="http://fonts.useso.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic"
          rel="stylesheet"/>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="bower_components/impress.js/css/impress-demo.css" rel="stylesheet"/>
    <link href="assets/main.css" rel="stylesheet">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angularjs/angular.min.js"></script>
    <script src="assets/impressController.js"></script>
    <script>
        window.gui = require('nw.gui');
        $(document).keydown(function (e) {
            if (e.keyCode == 27)
                window.gui.App.quit();
        });

    </script>
</head>
<body class="impress-not-supported" onmousewheel="return false;">
<!--<div class="fallback-message">-->
<!--<p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified-->
<!--version of this presentation.</p>-->

<!--<p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>-->
<!--</div>-->
<div id="impress">
    <div id="for_lang" class="step slide" data-x="-5000" data-y="-1500">
        <q>请大家帮我找一种</q>
        <q><b>计算机语言</b></q>
        <q style="font-size:48px">(尽可能的帮我列举)</q>
    </div>
    <div id="lang_input" class="step slide" data-x="-4000" data-y="-1500">
        <form>
            <input class="form-control" ng-list ng-model="langs" data-toggle="tooltip" title="输入你知道的编程语言，用英文逗号隔开"
                   data-placement="bottom">
            <q ng-show="langs.length>0" id="lang_list">
                <span ng-repeat="l in langs" class="lang" data-container="#lang_input" data-toggle="popover"
                      data-placement="bottom"
                      data-content="{{langs_dic[l].description}}">{{langs_dic[l].text}}</span></q>
        </form>
        <q ng-hide="langs.length>0" style="font-size: 96px">知无不言</q>
        <q ng-hide="langs.length>0" style="font-size: 96px">言无不尽</q>
    </div>

    <div class="step slide" data-x="-3000" data-y="-1500">
        <table class="table">
            <tbody>
            <tr ng-repeat="l in langs">
                <td>{{langs_dic[l].text}}</td>
                <td>{{langs_dic[l].description}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="step slide" data-x="-2000" data-y="-1500">
        <q ng-show="langs.length>0">
                <span ng-repeat="l in langs" class="lang" data-container="body" data-toggle="popover"
                      data-placement="bottom"
                      data-content="{{langs_dic[l].description}}">{{langs_dic[l].text}}</span></q>
        <q>大家说了<b>{{langs.length}}</b>个计算机语言，请帮我选择其中的一个。</q>
    </div>
    <div class="step slide" data-x="-1000" data-y="-1500">
        <q>我想要动态语言</q>
        <q> <span ng-repeat="l in langs" class="lang del" ng-click="remove(l)">{{langs_dic[l].text}}</span></q>
    </div>
    <div class="step slide" data-x="0" data-y="-1500">
        <q>接下来是脚本语言</q>
        <q> <span ng-repeat="l in langs" class="lang del" ng-click="remove(l)">{{langs_dic[l].text}}</span></q>
    </div>
    <div class="step slide" data-x="1000" data-y="-1500">
        <q>然后是能跨平台（Linux, MS Windows, MAC OS, Unix），又不只是服务器语言</q>
        <q> <span ng-repeat="l in langs" class="lang del" ng-click="remove(l)">{{langs_dic[l].text}}</span></q>
    </div>
    <div class="step slide" data-x="2000" data-y="-1500">
        <q>最后，浏览器能运行的语言</q>
        <q> <span ng-repeat="l in langs" class="lang del" ng-click="remove(l)">{{langs_dic[l].text}}</span></q>
    </div>
    <div id="title" class="step" data-x="0" data-y="0" data-scale="4">
        <span class="try">Then you should try</span>

        <h1>Javascript<sup></sup></h1>
        <span class="footnote"><sup>*</sup>Powered by Tavern</span>
    </div>
    <div id="its" class="step" data-x="850" data-y="3000" data-rotate="90" data-scale="5" data-rotate-x="-90">
        <p><strong>谈谈对Javascript的看法</strong> <br/>
            前面我们了解到，他是一个 <a>动态</a> <a>脚本</a> <a>跨平台</a>且<a>浏览器能运行</a>的语言 <br/>
            还有呢？</p>
    </div>

    <div id="big" class="step" data-x="3500" data-y="2100" data-rotate="180" data-scale="6">
        <p>轻便 <b>简单</b> <span class="thoughts">易学</span></p>
    </div>
    <div class="step" data-x="2825" data-y="2325" data-z="-3000" data-scale="1" data-rotate-x="0">
        <q><b>Javascript 能做什么</b></q>

        <p>前端交互? 游戏? 动画? 服务器程序? 后端客户端? </p>
    </div>
    <div class="step" data-x="2825" data-y="2325" data-z="-3000" data-scale="1" data-rotate-y="90">
        <q><b>Javascript 做了些什么</b></q>

        <p><a>前端交互</a> <a>游戏</a> <a>动画</a> <a>服务器程序</a> <a>后端客户端</a></p>
    </div>
    <div class="step" data-x="-2500" data-y="2050" data-scale="8" data-rotate-x="0">
        <q><b>游戏</b></q>

        <p>前端交互 <a>游戏</a> <a>动画</a> <a>服务器程序</a> <a>后端客户端</a></p>
    </div>
    <div class="step" data-x="-2500" data-y="2050" data-scale="8" data-rotate-x="90">
        <q><b>服务器，后端客户端</b></q>

        <p>前端交互 <a>游戏</a> <a>动画</a> <a>服务器程序</a> <a>后端客户端</a></p>
    </div>

    <div class="step" data-x="6700" data-y="-300" data-scale="6">
        <q><b>大家猜猜，腾讯QQ PC客户端是用的什么技术？那移动客户端呢？</b></q>

        <p style="text-align:center"><a href="http://impd.tencent.com/?p=35" target="_blank">官方博客</a></p>
    </div>
    <div id="its-in-3d" class="step" data-x="6200" data-y="4300" data-z="-100" data-rotate-x="-40" data-rotate-y="10"
         data-scale="2">
        <p>那么最后，大家觉得我这个课件是用什么技术做的呢?</p>
    </div>
    <div id="overview" class="step" data-x="3000" data-y="1500" data-scale="13">
    </div>

</div>
<div class="hint">
    <p>用空格或方向键来浏览</p>
</div>
<script>
    if ("ontouchstart" in document.documentElement) {
        document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
    }
</script>
<script src="bower_components/impress.js/js/impress.js"></script>
<script>impress().init();</script>
</body>
</html>
